:root {
    --color-beige: #F2E2C9;
    --color-pink: #FF9B9E;
    --color-orange: #FE4B01;
    --color-light-pink: #ffb0c1;
}

/* General styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--color-beige);
}

/* Header styling */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: var(--color-pink);
    position: relative;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: var(--color-beige);
}

/* Burger menu styling */
.burger-menu {
    position: absolute;
    right: 20px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.burger-menu .bar {
    height: 3px;
    background-color: var(--color-light-pink);
    border-radius: 5px;
}

/* Navigation menu styling */
#nav-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: var(--color-pink);
    padding: 15px;
    border-radius: 5px;
    width: 200px;
}

#nav-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#nav-menu li {
    margin-bottom: 10px;
}

#nav-menu a {
    text-decoration: none;
    color: var(--color-beige);
    font-size: 1.5rem;
}

.hidden {
    display: flex;
}

/* Bern section styling */
.bern-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background-color: var(--color-beige);
}

.bern-details {
    max-width: 300px;
}

.bern-details h1 {
    font-size: 6rem;
    color: var(--color-orange);
    margin-bottom: 20px;
}

.info {
    font-size: 1.8rem;
    color: var(--color-orange);
    margin-bottom: 10px;
}

.map-container {
    position: relative;
}

.map-image {
    max-width: 600px;
    height: auto;
}

.location-pin {
    position: absolute;
    top: 40%;
    left: 60%;
    background-color: var(--color-orange);
    color: var(--color-beige);
    padding: 10px;
    border-radius: 50%;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}
