:root {
    --color-beige: #F2E2C9;
    --color-yellow: #FBB108;
    --color-orange: #FE4B01;
    --color-pink: #FF9B9E;
    --color-light-pink: #ffb0c1;
}

/* General styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--color-beige);
}

/* Custom font class */
.protest-strike-regular {
    font-family: "Protest Strike", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* Header styling */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: var(--color-pink);
    position: relative;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: var(--color-beige);
}

/* Burger menu styling */
.burger-menu {
    position: absolute;
    right: 20px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.burger-menu .bar {
    height: 3px;
    background-color: var(--color-yellow);
    border-radius: 5px;
}

/* Navigation menu styling */
#nav-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: var(--color-pink);
    padding: 15px;
    border-radius: 5px;
    width: 200px;
}

#nav-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#nav-menu li {
    margin-bottom: 10px;
}

#nav-menu a {
    text-decoration: none;
    color: var(--color-beige);
    font-size: 1.5rem;
}

.hidden {
    display: flex;
}

/* Section styling */
.section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    position: relative;
}

.section-beige {
    background-color: var(--color-beige);
    position: relative;
    background-image: url('images/velos.png'); 
    background-size: cover;
    background-position: center;
    height: 100vh; /* Full viewport height */
}

.main-title {
    font-size: 10rem;
    color: var(--color-orange);
    text-align: center;
    font-weight: bold;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Section for smaller screens */
@media screen and (max-width: 768px) {
    .main-title {
        font-size: 5rem; /* Smaller font size for mobile */
    }

    .section-beige {
        height: 50vh; /* Adjust height for mobile */
    }
}

/* Section-yellow styling */
.section-yellow {
    background-color: var(--color-yellow);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 100px;
    padding-top: 50px;
}

.yellow-title {
    font-size: 5rem;
    color: var(--color-orange);
    text-align: left;
    font-weight: bold;
    margin-bottom: 20px;
}

.yellow-text {
    font-size: 24px;
    color: var(--color-orange);
    text-align: left;
    max-width: 600px;
    line-height: 1.6;
}

.section-pink {
    background-color: var(--color-pink);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 100px;
}

.pink-title {
    font-size: 5rem;
    color: var(--color-orange);
    text-align: left;
    font-weight: bold;
    margin-right: 50px;
}

.city-list {
    list-style: none;
    font-size: 2.5rem;
    color: var(--color-yellow);
}

.city-list li {
    margin-bottom: 20px;
}

/* Footer styling */
footer {
    display: flex;
    justify-content: space-between;
    padding: 50px 100px;
    background-color: var(--color-beige);
    align-items: flex-start;
    flex-wrap: wrap;
}

.footer-column {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.footer-column h3 a {
    font-size: 2.5rem;
    color: var(--color-orange);
    text-decoration: none;
    margin-bottom: 20px;
}

.footer-column h3 a:hover {
    text-decoration: underline;
}

.city-list {
    list-style: none;
    font-size: 2.5rem;
    color: var(--color-yellow);
}

.city-list li {
    margin-bottom: 20px;
}

.city-list li a {
    text-decoration: none;
    color: var(--color-yellow);
}

.city-list li a:hover {
    text-decoration: underline;
}

/* Contact column styling */
.contact h3 {
    font-size: 2.5rem;
    color: var(--color-pink);
    margin-bottom: 20px;
}

.contact p {
    font-size: 1.5rem;
    color: var(--color-pink);
    margin-bottom: 10px;
}

/* Responsive footer adjustments */
@media screen and (max-width: 768px) {
    footer {
        flex-direction: column;
        padding: 20px;
        align-items: left;
        text-align: left;
    }

    .footer-column {
        margin-bottom: 40px;
    }

    .city-list {
        font-size: 2rem;
    }

    .footer-column h3 a {
        font-size: 2rem;
    }

    .contact p {
        font-size: 1.2rem;
    }
}
